body {
  margin: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
  background: url("/assert/city.jpg") no-repeat center center;
  background-size: cover;
}
#gameArea {
  position: relative;
  margin: 0 auto;
  width: 25vw;
  height: 100vh;
  background: url("/assert/road\ .png") repeat-y center top;
  background-size: cover;
  overflow: hidden;
  animation: scrollRoad 4s linear infinite;
}

@keyframes scrollRoad {
  from {
    background-position: center 0;
  }
  to {
    background-position: center 100vh;
  }
}

#playerCar {
  position: absolute;
  bottom: 20px;
  width: 50px;
  height: 100px;
  background: url(/assert/redcar.png);
  background-size: cover;
  z-index: 1;
}
.obstacle {
  position: absolute;
  width: 50px;
  height: 100px;
  background: url(/assert/yellocar.png);
  background-size: cover;
  z-index: 1;
}
#scoreBoard {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  font-size: 20px;
}
#gameOverScreen {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  z-index: 10;
}

#gameOverScreen h1 {
  margin: 0 0 20px;
  font-size: 36px;
}

button {
  display: inline-block;
  width: 120px;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 10px 5px;
  text-align: center;
}

#restartButton {
  background-color: #228f89;
  color: white;
}

#restartButton:hover {
  background-color: #27c7b2;
}

#quitButton {
  background-color: #c40d0d;
  color: white;
}

#quitButton:hover {
  background-color: #ee4343;
}

#levelLabel {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 20px;
}
